<?xml version="1.0" encoding="utf-8" ?>
<task assemblyname="Downloader" classname="Downloader.Download">
	<schedule>
		<time type="OnStart"/>
		<time type="OnTime" value="14:10"/>
	</schedule>
	<arguments key="GroupIds" value="19220040,109388070,178928860,57308544,169965999"/>
	<arguments key="WallCount" value="100"/>
	<arguments key="CommentCount" value="100"/>
	<arguments key="LikeCount" value="100"/>
	<arguments key="Group" value="true"/>
	<arguments key="User" value="true"/>
	<arguments key="Wall" value="true"/>
	<arguments key="Comments" value="true"/>
	<arguments key="Likes" value="true"/>
	<arguments key="ApiVersion" value="5.131"/>
	<arguments key="AccessToken" value="0f8082fe0f8082fe0f8082fe140ffce25300f800f8082fe6de9bd283e8906f204ad62db"/>
</task>
